<ul class="pager">
    <li class="pager__item pager__item--next">
      <a href= <%= explore_your_options_download_path(id: "6940a441-b5ea-45b9-a7f8-b8249665f2b2") %> rel="next" class="t-next-page">
        <span class="button">Get my Report</span>
      </a>
    </li>
</ul>
