<div id="js-estimate">
  <p>
    <%= t('.summary.html', pot_value: number_to_currency(pot),
                           estimate: number_to_currency(estimate[:tax_free_lump_sum]),
                           drawdown_amount: number_to_currency(monthly_drawdown_amount),
                           until_age: estimate[:desired_income_with_pot_growth_lasts_until]) %>
  </p>
</div>
